$Red: #FF5C5C;
$VeryDarkBlue: #242942;
$DarkGrayishBlue: #5B5F71;
$GrayishBlue: #A0A1AC;
$LightGrayishBlue: #EEF3F6;
$Barlow: 'Barlow', sans-serif;
$BarlowCondensed: 'Barlow Condensed', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $Barlow;
  background-color: $LightGrayishBlue;
  color: $VeryDarkBlue;
}

header {
  background-color: $VeryDarkBlue;
  padding: 15px 0;
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    a {
      color: white;
      text-decoration: none;
      font-family: $BarlowCondensed;
      font-weight: 600;
      font-size: 16px;
      transition: color 0.3s;
      &:hover { color: $Red; }
    }
  }
}

main {
  padding: 40px 20px;
  h1 {
    font-family: $BarlowCondensed;
    text-align: center;
    margin-bottom: 30px;
    color: $VeryDarkBlue;
  }
}

.container {
  width: 80%;
  min-height: 60vh;
  margin: 0 auto;
  border: 1px solid $VeryDarkBlue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .item {
    width: 100px;
    height: 100px;
    border: 1px solid $Red;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: $VeryDarkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $VeryDarkBlue;
  color: white;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
}